body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
}

#reader{
width:300px;
margin:auto;
}

ul{
list-style:none;
padding:0;
}

li{
background:white;
margin:5px;
padding:10px;
border-radius:6px;
}
